*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Poppins,sans-serif;
}
.about{
    min-height: 100vh;
    width: 100%;
    padding: 78px 0px;
    background-color: aqua;
}

.about img{
    float: right;
    border-radius: 2px solid Red;
    box-shadow: 0 0 5px red;
    height: auto;
    width: 30%;
    border-radius: 5em;
    transition: 0.5s ease;
}

.main{
    width: 1000px;
    max-width: 95%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.about-text h1{
    color: white;
    font-size: 80px;
    text-transform: capitalize;
    margin-bottom:20px ;
    text-align: center;
}
.about-me h5{
    color: red;
    font-size: 28px;
    text-transform: 25px;
    margin-bottom: 0.4em;
    text-align: center;
}


.about-text p{
    color: rgb(255, 236, 236,0,8);
    letter-spacing: 1px;
    line-height: 28px;
    font-size: 18px;
    margin-bottom: 45px;
    text-align: center;
}
button{
    background: transparent;
    color: red;
    font-size: 16px;
    text-decoration: none;
    border: 2px solid #f30a0a;
    font-weight: bold;
    padding: 13px 30px;
    border-radius: 30px;
    transition: .4s ease ;
    text-align: center;
}

button:hover{
    background: red;
    color: white;
    box-shadow: 0 0 5px;
    cursor: pointer;
    transform: scale(1.1);
}
.cv{
    margin-left: 0.5em;
}

h5{ color: red;
    font-size: 28px;
    text-transform: 25px;
    margin-bottom: 0.4em;
    text-align: center;

}