<section class="about">
    <div class="main">
        <img class="img"src="Zamo.JPG"alt="Zamo"> 
        <div class="about-text">
        <h1>About Me</h1>

        <h5>Software Developer & Software Tester </h5>
        <p>I am Passionate Software developer and Software Testing with a creative mind
             and a love for building beautful and functional websites. 
            I enjoy bringing ideas to life through 
            coding and Testing , and I'm always eager to learn and explore new 
            technologies to create amazing online experiences.
        </p>
        <button type="button">Let's Talk</button>
        <button type="button" class="cv"> MY CV</button>
        </div>
    </div>
</section>
