<section class="about">
    <div class="main">
        <img class="img" src="Zamo.JPG" alt="Zamo"> 
        <div class="about-text">
            <h1>About Me</h1>
            <h5>Web and Mobile Developer</h5>
            <p>Hi, I'm Zama Thupha, a passionate Web and Mobile Developer with a creative mindset and a deep love for building beautiful and functional websites
                and applications. I specialize in turning innovative ideas into reality through clean, efficient coding and thorough software testing.
                With a certification in Software Testing, I ensure that the applications I build are not only visually appealing but also perform seamlessly
                and meet the highest standards of quality. I’m driven by a constant desire to learn, grow, and explore new technologies that allow me to create exceptional online experiences.
                Whether it's crafting responsive websites, developing mobile apps, or testing for performance,
                I am always excited to take on new challenges and push the boundaries of what’s possible in the digital world.
            </p>
              <!--a href="#contact">
                 <button type="button">Let's Talk</button>
                    </a>-->



            <!-- CV download button -->
            <a href="Zama Thupha CV.pdf" download class="cv-button">
                <button type="button" class="cv">MY CV</button>
            </a>
        </div>
    </div>
</section>

