* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: sans-serif;
  background-color:#ADD8E6 ;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.main {
  padding: 20px;
}

.card {
  background:gray;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  max-width: 700px;
  margin: auto;
  border-radius: 8px;
  padding: 20px;
}

h3 {
  margin-bottom: 10px;
}

.education-grid,
.skill-grid,
.projects-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 15px;
  margin: 20px 0;
}

.skill-item {
  display: flex;
  justify-content: space-between;
  padding: 10px 15px;
  background-color: #f8f8f8;
  border-radius: 6px;
  font-weight: 500;
}
.skill-name, .skill-level {
  font-size: 16px;
}


.skill-item,
.education-item,
.project-card {
  background-color: #f0f0f0;
  padding: 15px;
  border-radius: 6px;
}

.tech-stack span {
  display: inline-block;
  background: #007bff;
  color: white;
  padding: 3px 8px;
  margin: 2px;
  border-radius: 4px;
  font-size: 12px;
}

a {
  text-decoration: none;
  color: #007bff;
}

a:hover {
  text-decoration: underline;
}
