<div class="main">
<div class="card ">
    <div class="card-body">
        <h3>Wedsite</h3>
        <p  class="card-text"> Frontend Mentor- 
            Base Apparel coming soon page</p>
        <p><a href="https://github.com/zamathupha/finalProject/">Personal Wedsite!</a></p>

     </div>

    <div class="card-footer">
        <div class="d-flex"></div>
     <div class="tag">HTML</div>
     <div class="tag">css</div>
     <div class="tag">Javescript</div>
     <div class="tag">Node JS</div>
    </div>

    <div class="card-body1">
        <h3> Weather app</h3>
        <p  class="card-text">My Weather app including the search engine, 
            API integration, wind speed, weather description,
             and weather icon are mandatory.</p>
        <p><a href="https://github.com/zamathupha/Shecodeweather">Weather App!</a></p>

     </div>

    <div class="card-footer">
        <div class="d-flex"></div>
     <div class="tag">HTML</div>
     <div class="tag">css</div>
     <div class="tag">Javescript</div>
     <div class="tag">Node JS</div>
    </div>


</div>
</div>
