<div class="main">
  <div class="card">
    <div class="card-body">
      
      <div class="education-section">
        <h3>Education</h3>
        <div class="education-grid">
          <div class="education-item">
            <h3>Web Developer</h3>
            <p>Codetribe Academy</p>
          </div>
          <div class="education-item">
            <h3>Ionic Developer</h3>
            <p>Codetribe Academy</p>
          </div>
          <div class="education-item">
            <h3>Software Testing</h3>
            <p>SASTQB</p>
          </div>
        </div>
      </div>

      <div class="skill-section">
        <h3>Skills Matrix</h3>
        <div class="skill-grid">
          <div class="skill-item"><span class="skill-name">HTML</span> <span class="skill-level">advanced</span></div>
          <div class="skill-item"><span class="skill-name">CSS</span> <span class="skill-level">advanced</span></div>
          <div class="skill-item"><span class="skill-name">JavaScript</span> <span class="skill-level">beginner</span></div>
          <div class="skill-item"><span class="skill-name">TypeScript</span> <span class="skill-level">beginner</span></div>
          <div class="skill-item"><span class="skill-name">Angular</span> <span class="skill-level">Intermediate</span></div>
          <div class="skill-item"><span class="skill-name">Ionic</span> <span class="skill-level">Intermediate</span></div>
          <div class="skill-item"><span class="skill-name">Firebase</span> <span class="skill-level">Intermediate</span></div>
          <div class="skill-item"><span class="skill-name">Netlify</span> <span class="skill-level">Advanced</span></div>
        </div>
      </div>

      <div class="projects-section">
        <h3>Projects</h3>
        <div class="projects-grid">
          <div class="project-card">
            <h4><a href="https://statuesque-seahorse-877c1a.netlify.app" target="_blank">Login and Registration Pages</a></h4>
            <p>Prototype of Login and Registration App</p>
            <div class="tech-stack"><span>Angular</span></div>
          </div>
          <div class="project-card">
            <h4><a href="https://stellular-pasca-6a7159.netlify.app" target="_blank">Weather App</a></h4>
            <p>Prototype of Weather App </p>
            <div class="tech-stack"><span>Vs Code</span><span>Deploy Netlify</span></div>
          </div>
          <div class="project-card">
            <h4><a href="https://stupendous-cat-83a017.netlify.app" target="_blank">Portfolio</a></h4>
            <p>Prototype of Portfolio</p>
            <div class="tech-stack"><span>Angular</span><span>Restful APIs</span></div>
          </div>
            <div class="project-card">
            <h4><a href="https://tourmaline-piroshki-c788b8.netlify.app" target="_blank">Coming Soon Website</a></h4>
            <p>Prototype of Coming Soon Website </p>
            <div class="tech-stack"><span>Vs Code</span><span>Deploy Netlify</span></div>
          </div>

        </div>
      </div>

    </div>
  </div>
</div>


      

 
