.body {
    text-align: center;
    padding: 100px;
    background-color: #ADD8E6;
  }
  
  .img {
    width: 350px;
    height: 350px;
    border-radius: 50%;
  margin-right: 5000;
  }
  
  h1 {
    color: #0f0e0e;
    font-size: 2rem;
    margin-top: 10px;
  }
  
  p {
    color: #0c0b0b;
    font-size: 1.2rem;
  }
  
 
  
  

  
  
  
  
